<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <!-- General -->
  <category label="General">
    <setting label="Bacterio uses its own settings window." type="text" enable="false" />
    <setting label="Open Bacterio Settings..." type="action" option="close"
      action="RunPlugin(plugin://plugin.video.bacterio/?mode=open_settings)" />
  </category>
  <category id="accounts" label="Accounts">
    <group id="1" label="Trakt">
      <setting id="authenticate_trakt" type="action" label="Authenticate Trakt" help="">
        <level>0</level>
        <data>RunPlugin(plugin://plugin.video.bacterio/?mode=trakt.trakt_authenticate)</data>
        <constraints>
          <allowempty>true</allowempty>
        </constraints>
        <control type="button" format="action">
          <close>true</close>
        </control>
      </setting>
      <setting id="trakt_token_access" type="boolean" label="Allow trakt token access" help=""
        parent="authenticate_trakt">
        <level>0</level>
        <default>false</default>
        <control type="toggle" />
        <visible>false</visible>
        <enable>false</enable>
      </setting>
      <setting id="revoke_trakt" type="action" label="Revoke Trakt" help="">
        <level>0</level>
        <data>RunPlugin(plugin://plugin.video.bacterio/?mode=trakt.trakt_revoke_authentication)</data>
        <constraints>
          <allowempty>true</allowempty>
        </constraints>
        <dependencies>
          <dependency type="visible">
            <condition operator="!is" setting="trakt_token" />
          </dependency>
        </dependencies>
        <control type="button" format="action">
          <close>true</close>
        </control>
      </setting>
    </group>
  </category>
</settings>
