<?xml version="1.0"?>
<settings version="1">
  <section id="plugin.video.bacterio">
    <!-- General -->
    <category id="general" label="30001">
      <group id="1" label="30002">
        <setting id="open_settings" label="30003" type="action">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.video.bacterio/?mode=open_settings)</data>
          <control type="button" format="action" />
          <close>true</close>
        </setting>
      </group>
    </category>
    <!-- Features -->
    <category id="features" label="30004">
      <group id="2" label="30005">
        <setting id="extras_lists_choice" type="action" label="30006">
          <level>0</level>
          <data>
            RunPlugin(plugin://plugin.video.bacterio/?mode=extras_lists_choice)
          </data>
          <control type="button" format="action" />
        </setting>
        <setting id="extras_buttons_choice" type="action" label="30007">
          <level>0</level>
          <data>
            RunPlugin(plugin://plugin.video.bacterio/?mode=extras_buttons_choice)
          </data>
          <control type="button" format="action" />
        </setting>
        <setting id="enable_extra_ratings" type="action" label="30008">
          <level>0</level>
          <data>
            RunPlugin(plugin://plugin.video.bacterio/?mode=settings_manager.set_boolean&amp;setting_id=extras.enable_extra_ratings)
          </data>
          <control type="button" format="action" />
        </setting>
        <setting id="enable_scrollbars" type="action" label="30009">
          <level>0</level>
          <data>
            RunPlugin(plugin://plugin.video.bacterio/?mode=settings_manager.set_boolean&amp;setting_id=extras.enable_scrollbars)
          </data>
          <control type="button" format="action" />
        </setting>
      </group>
      <group id="3" label="30010">
        <setting id="media_open_action_movie" type="action" label="30011">
          <level>0</level>
          <data>
            RunPlugin(plugin://plugin.video.bacterio/?mode=settings_manager.set_from_list&amp;setting_id=media_open_action_movie)
          </data>
          <control type="button" format="action" />
        </setting>
      </group>
    </category>
    <!-- Content -->
    <category label="30012">
      <group id="4" label=""></group>
    </category>
    <!-- Accounts -->
    <category id="accounts" label="30019">
      <group id="4" label="30020">
        <setting id="authenticate_trakt" type="action" label="30014" help="">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.video.bacterio/?mode=trakt.trakt_authenticate)</data>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
        <setting id="revoke_trakt" type="action" label="30016" help="">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.video.bacterio/?mode=trakt.trakt_revoke_authentication)</data>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible">
              <!-- TODO: Actual logic to show if trakt is authed-->
              <condition operator="!is" setting="trakt.token" />
            </dependency>
          </dependencies>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
      </group>
    </category>
    <!-- Results -->
    <category id="results" label="30017"></category>
    <!-- Playback -->
    <category id="playback" label="30018"></category>
  </section>
</settings>
