name: Build Package
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
  workflow_call:
    inputs:
      version:
        required: true
        type: string

env:
  PLUGIN_NAME: plugin.video.phagelite

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Zip
        run: |
          (
            cd ./packages
            zip -r "../$PLUGIN_NAME-${{ inputs.version }}.zip" ./$PLUGIN_NAME
          )
        shell: bash
      - name: "Upload Artifact"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PLUGIN_NAME }}
          path: ./${{ env.PLUGIN_NAME }}-${{ inputs.version }}.zip
          retention-days: 1

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download Artifact
        id: download
        uses: actions/download-artifact@v4
      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create "${{ inputs.version }}" ${{ steps.download.outputs.download-path }}/*/*.zip \
              --title="${{ inputs.version }}" \
              --generate-notes
        shell: bash

  deploy:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./packages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
