name: Build Package
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
  workflow_call:
    inputs:
      version:
        required: true
        type: string

env:
  PLUGIN_NAME: plugin.video.phagelite

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Zip
        run: |
          (
            cd ./packages
            zip -r "../$PLUGIN_NAME-${{ inputs.version }}.zip" ./$PLUGIN_NAME
          )
        shell: bash
      - name: "Upload Artifact"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PLUGIN_NAME }}
          path: ./${{ env.PLUGIN_NAME }}-${{ inputs.version }}.zip
          retention-days: 1

  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download Artifact
        id: download
        uses: actions/download-artifact@v4
      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create "${{ inputs.version }}" ${{ steps.download.outputs.download-path }}/*/*.zip \
              --title="${{ inputs.version }}" \
              --generate-notes \

        shell: bash
